*{
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    /* position: relative; */
}

a{
    text-decoration: none;
}

.Toastify__toast-body{
    font-family: 'Varela', Montserrat;
}
